*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: rgb(3, 22, 43);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    position: relative;
}

.container{
    box-shadow: 0px 0px 9px aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 20px;
    background-color: rgb(3, 22, 43);
    width: 400px;
    margin: auto;
    border: 2px solid aqua;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.input-wrapper{
    width: 100%;
    display: flex;
    gap: 10px;
}

.input-wrapper > *{
    padding: .5em;
}

.input-wrapper input{
    width: 100%;
    outline-color: aqua;
    color: black;
    background-color: white;
}

.input-wrapper button{
    cursor: pointer;
    background-color: rgb(9, 170, 170);
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#downloadButton{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: .5em 2em;
    background-color: rgb(12, 230, 12);
    border: none;
    cursor: pointer;
    color: white;
    transition: .3s all;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}

#downloadButton:hover{
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: NONE;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: .5;
}
