#downloadButton{
    display: none;
} 

.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: NONE;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: .5;
}
